.projects {
  padding: 100px 0 40px;
  background: #ffc300;
  text-align: center;
}

.projects h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 30px;
  color: #000;
}

.projects p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 40px;
  color: #000;
}

.projects__grid {
  max-width: 850px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.projects__grid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .projects {
    padding: 60px 0 30px;
  }

  .projects h2 {
    font-size: 30px;
  }

  .projects p {
    font-size: 14px;
  }

  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects {
    padding: 40px 0 20px;
  }

  .projects h2 {
    font-size: 24px;
  }

  .projects p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
